{% extends 'base.html.twig' %}

{% block content %}

<h1>Tableau des commandes</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Etat</th>
        <th>Date</th>
        <th>Montant</th>
        <th>BoutiqueId</th>
        <th>UserId</th>
        <th colspan="4">Actions</th> 
        >
    </tr>
    <tr>
        {% for c in commandes %} 
        <td>{{ c.id }}</td>
        <td>{{ c.etat }}</td>
        <td>{{ c.id }}</td>
        <td>{{ c.date | date('d/m/Y') }}</td>
        <td>{{ c.montant }}</td>
        <td>{{ c.boutiqueId }}</td>
        <td>{{ c.userId }}</td>

        <td>
            <a href="{{path('')}}">
                <i class="fas fa-eye"></i>
            </a>
            <a href="{{path('shop_update_order', {id : c.id})}}">
                <i class="fas fa-edit"></i>
            </a>
            <a href="{{path('shop_order_delete', {id : c.id})}}"></a>
                <i class="fas fa-trash-alt"></i>
            </a>

        
        </td>
        {% endfor %}
    </tr>
</table>

{% endblock %}