{% extends 'base.html.twig' %}

{% block content %}
	<h1>Bonjour {{ app.user.username }} bienvenue sur votre profil {{ app.user.statut }} !</h1>
	
	<ul>
		<li>Prénom : {{ app.user.prenom }}</li>
		<li>Nom : {{ app.user.nom }}</li>
        <li>Email : {{ app.user.email }}</li>
        <li>Adresse :{{ app.user.adresse }}</li>
        <li>Ville : {{ app.user.ville }}</li>
        <li>Code postal : {{ app.user.codePostal }}</li>
        <li>Téléphone : {{ app.user.telephone }}</li>
        <li>Date de naissance : {{ app.user.dateDeNaissance | date('d/m/Y') }}</li>
        <li>Genre : {{ app.user.sexe }}</li>
	</ul>
	
{% endblock %}
