{% extends 'base.html.twig' %}

{% block content %}

<h1>Bienvenue sur votre fiche boutique :</h1>
{# <div><img src="{{ asset('/photo/' ~ boutique.photo) }}" alt=" photo de la boutique"></img></div>  #}
<ul>
    <li>Id : {{ boutique.id }}</li>
    <li>Siret : {{ boutique.siret }}</li>
    <li>Nom : {{ boutique.nomBoutique }}</li>
    <li>Description : {{ boutique.description }}</li>
    <li>Livraison : {{ boutique.livraison }}</li>
    <li>Mode de paiement : {{ boutique.paiement }}</li>
    <li>Adresse : {{ boutique.adresse }}</li>
    <li>Code postal : {{ boutique.codePostal }}</li>
    <li>Ville : {{ boutique.ville }}</li>
    <li>Département :{{ boutique.departement }}</li>
    <li>Région : {{ boutique.region }}</li>
    <li>Téléphone : {{ boutique.telephone }}</li>
    {# <td>Id_User : {{ boutique.userId }}</td> #}
</ul>
<a class="btn btn-success" href="{{ path('sell/shop_update', {id : boutique.id}) }}">Modifier votre boutique</a>
<a class="btn btn-warning" href="{{ path('shop') }}">Afficher vos produits </a>
{% endblock %}