{% extends 'base.html.twig' %}

{% block content %}

<header>
    <div class="container">

    </div>
    <section class="hero">
        <div class="hero-content">

            <h1 class="hero-title" style="text-shadow: 2px 2px 2px black; font-size: 4.5rem;">MANGER LOCAL</h1>
            <h1 class="hero-title" style="text-shadow: 2px 2px 2px black; font-size: 4rem;">MANGER MIEUX</h1>
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <a href="{{ path('search') }}" class="btn btn-success p-3" style="font-size: 1.5rem;">Je veux acheter</a>
                </div>
                <div class="col-md-5">
                    <a href="{{ path('sell') }}" class="btn btn-success p-3" style="font-size: 1.5rem;">Je veux vendre</a>
                </div>
            </div>

        </div>
    </section>

    <!-- section presentation produit -->
    <main class="container">
        
        <blockquote class="blockquote text-center">
            <h2>Produit bio près de chez toi...</h2>
            <div class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></div>
        </blockquote>

        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('/photo/carouss/img1.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('/photo/carouss/img2.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('/photo/carouss/img3.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('/photo/carouss/img1.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('/photo/carouss/img2.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('/photo/carouss/img3.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>



    {% endblock %}