{% extends 'base.html.twig' %}

{% block content %}

<header>
    <div class="container">

    </div>
    <section class="hero">
        <div class="hero-content">

            <h1 class="hero-title" style="text-shadow: 2px 2px 2px black; font-size: 4.5rem;">MANGER LOCAL</h1>
            <h1 class="hero-title" style="text-shadow: 2px 2px 2px black; font-size: 4rem;">MANGER MIEUX</h1>
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <a href="{{ path('search') }}" class="btn btn-success p-3" style="font-size: 1.5rem;">Je veux acheter</a>
                </div>
                <div class="col-md-5">
                    <a href="{{ path('sell') }}" class="btn btn-success p-3" style="font-size: 1.5rem;">Je veux vendre</a>
                </div>
            </div>

        </div>
    </section>

    <!-- section presentation produit -->
    <main class="container">
        
        <blockquote class="blockquote text-center">
            <h2>Sélection de la Team.</h2>
            <div class="blockquote-footer">Boutiques à la une !</div>
        </blockquote>

        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('/photo/b1.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a href="{{ path('buy/show_shop', {'id' : 1}) }}">La ferme des Jacques</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('/photo/b11.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a href="{{ path('buy/show_shop', {'id' : 69}) }}">Richard's corner</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('/photo/b6.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a href="{{ path('buy/show_shop', {'id' : 64}) }}">Les bons produits de Margaud</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('/photo/b5.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a href="{{ path('buy/show_shop', {'id' : 73}) }}">La ferme aux ânes</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('/photo/b10.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a href="{{ path('buy/show_shop', {'id' : 78}) }}">La ferme Gregoire</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('/photo/b3.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><a href="{{ path('buy/show_shop', {'id' : 61}) }}">Chez François</a></p>
                    </div>
                </div>
            </div>
        </div>

        
    </main>



    {% endblock %}