{% extends 'base.html.twig' %}

{% block content %}


<div class="">

    <div class="">
        <h3 class="">Votre Panier</h3>
        <table class="table">
            <thead>
                <tr> 
                    <th>Produit</th>
                    <!-- <th>Boutique</th> -->
                    <th>Quantité</th>
                    <th>Prix (au kilo ou à l'unité)</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in panier %}
                <tr>
                    <td>{{ produit.nom }}</td>

                    {# <td>{{ produit.boutiqueId }}</td> #} <!--mis en commentaire parce que l'id retourne un objet et pas un integer et ça pose problème-->
                    
                    <td>{{ produit.quantite }}</td>  <!-- On a créé une fausse caractéristique "quantité" dans la fonction qui récupère la quantité du panier et fait comme si c'était dans la table produit de la BDD -->
                    <td>{{ produit.prix }}</td>
                    <td>{% set total = produit.prix * produit.quantite %}{{ total | number_format(2, ',', ' ') }}€</td> <!-- On calcule le total puis on fait un echo de ce résultat-->
                </tr>
                
            </tbody>
            <tr>
                <th>Montant de votre commande</th>
            </tr>

                {% endfor %}    
        </table>
    </div>

    <div class="row">
        <form class="clo-6" action="{# {{ path('viderpanier') }}  #}">
            <button class="btn btn-warning">Vider</button>
        </form>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <form class="clo-6" action="#">
            <button class="btn btn-info">Payer</button>
        </form>
        {% else %}
        <form class="clo-6" action="#">
            <a class="btn btn-info"  href="{{ path('login') }}" >Connexion</a>
            Pas de compte ? <a href="{{ path('register') }}" >Inscrivez-vous !</a>
        </form>
        {% endif %}
        
    </div>
</div>

{% endblock %}