{% extends 'base.html.twig' %}

{% block content %}
<h1>Résultat(s) de votre recherche :</h1>
<ul>
{% for p in produits %}
    <li>{{ p.nom }}</li>
    <li>{{ p.description }}</li>
    <li>{{ p.prix }} €</li>
    <li>{{ p.stock }} kgs</li>
    <li>Produit disponible dans la boutique : 
        {# {% for b in boutique %}
            {{ b.nom}}
        {% endfor %} #}

    </li>
{% endfor %}
</ul>
<button class="btn btn-success"><a href=""></a>Aller sur la boutique</button>   
{% endblock %}