{% extends 'base.html.twig' %}

{% block content %}


<div class='banniere_form'>
    <h2 class="card-header info-color white-text text-center py-4">
            La boutique {{ boutique.nomBoutique }}
    </h2>
</div>



    <div class="card">
        <div class="card-body text-center">
            <h4 class="card-title text-info"> {{ boutique.nomBoutique }}</h4>
            <div><img class="w-50" src="{{ asset('/photo/' ~ boutique.photo) }}" alt=" photo de la boutique"></img></div> <br>
            <p class="card-text"><strong>Description  : </strong>{{ boutique.description  }}</p>
            <p class="card-text"><strong>Livraison  : </strong>{{ boutique.livraison  }}</p>
            <p class="card-text"><strong>Mode de paiement  : </strong>{{ boutique.paiement  }}</p>
            <p class="card-text"><strong>Code postal  : </strong>{{ boutique.codePostal  }}</p>
            <p class="card-text"><strong>Département  : </strong>{{ boutique.departement  }}</p>
            <p class="card-text"><strong>Région  : </strong>{{ boutique.region  }}</p>
                
                
            <a class="btn btn-outline-success col-md-3 offset-6" style="margin-left: 0;" href="{{ path('buy/shop_product', {id : boutique.id}) }}">Voir les produits </a>
        </div>
    </div>


{% endblock %}