{% extends 'base.html.twig' %}

{% block content %}

<h1>Quelques unes de nos boutiques :</h1>
{% for boutique in boutiques %}  
{# <div><img src="{{ asset('/photo/' ~ boutique.photo) }}" alt=" photo de la boutique"></img></div>  #}
<ul>
    
    <li>Nom : {{ boutique.nomBoutique }}</li>
    <li>Description : {{ boutique.description }}</li>
    <li>Livraison : {{ boutique.livraison }}</li>
    <li>Mode de paiement : {{ boutique.paiement }}</li>
    {# <li>Adresse : {{ boutique.adresse }}</li>
    <li>Code postal : {{ boutique.codePostal }}</li>
    <li>Ville : {{ boutique.ville }}</li> #}
    <li>Département :{{ boutique.departement }}</li>
    <li>Région : {{ boutique.region }}</li>
   
</ul>

<a class="btn btn-success" href="{{ path('shop') }}">Afficher les produits </a>
{% endfor %}

{% endblock %}