{% extends 'base.html.twig' %}

{% block content %}

<div class='banniere_form'>
    <h2 class="card-header info-color white-text text-center py-4">
            Profil de {{ user.nom }}
    </h2>
</div>
{# <div><img src="{{ asset('/photo/' ~ boutique.photo) }}" alt=" photo de la boutique"></img></div>  #}

<div class="container">
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card h-100">
            <div class="card-body text-center">
                <h4 class="card-title text-info">
                    Profil de {{ user.nom }}
                </h4>
                
                <p class="card-text"><strong>Prénom : </strong>{{ user.prenom }}<p>
                <p class="card-text"><strong>Nom : </strong>{{ user.nom }}<p>
                <p class="card-text"><strong>Email : </strong>{{ user.email }}<p>
                <p class="card-text"><strong>Adresse :</strong>{{ user.adresse }}<p>
                <p class="card-text"><strong>Ville : </strong>{{ user.ville }}<p>
                <p class="card-text"><strong>Code postal : </strong>{{ user.codePostal }}<p>
                <p class="card-text"><strong>Téléphone : </strong>{{ user.telephone }}<p>
                <p class="card-text"><strong>Date de naissance : </strong>{{ user.dateDeNaissance | date('d/m/Y') }}<p>
                <p class="card-text"><strong>Genre : </strong>{% if user.sexe == 'm' %}
                    <p>homme</p>
                    {% else %}
                    <p>femme</p>
                    {% endif %}
                <p>

            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-outline-success" href="{{ path('admin_user_update', {id : user.id}) }}">Modifier </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>









{% endblock %}





