{% extends 'base.html.twig' %}

{% block content %}

<h1>Formulaire d'ajout/modif d'un user</h1>
{{ form_start(userForm) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(userForm.username) }}

            {% if is_granted('ROLE_USER') %}
                {{ form_row(userForm.password) }}
            {% endif %}

            {{ form_row(userForm.prenom) }}
            {{ form_row(userForm.nom) }}
            {{ form_row(userForm.email) }}
            {{ form_row(userForm.sexe) }}
        </div>

        <div class="col-6">
            {{ form_row(userForm.adresse) }}
            {{ form_row(userForm.ville) }}
            {{ form_row(userForm.codePostal) }}
            {{ form_row(userForm.departement) }}
            {{ form_row(userForm.region) }}
            {{ form_row(userForm.telephone) }}

            <div class="row">
                <div class="col-4">
                    {{ form_row(userForm.dateDeNaissance.day, {label : 'Jour'}) }}
                </div>
                <div class="col-4">
                    {{ form_row(userForm.dateDeNaissance.month, {label : 'Mois'}) }}
                </div>
                <div class="col-4">
                    {{ form_row(userForm.dateDeNaissance.year, {label : 'Année'}) }}
                </div>
                <div class="col-4">
                    {{ form_row(userForm.dateDeNaissance.year, {label : 'Année'}) }}
                </div>
            </div>
            {{ form_row(userForm.statut) }}
            {{ form_row(userForm.submit, { 'label' : 'Envoyer' } ) }}
        </div>


    </div>
    {{ form_end(userForm) }}

{% endblock %}