{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/styleForm.css') }}">
{% endblock %}
{% block content %}

<div class='banniere_form'>
    <h2 class="card-header info-color white-text text-center py-4">
        Formulaire produits boutique
    </h2>
</div>

{{ form_start(produitForm) }}
<div class="row" style="background-color:  rgb(255, 206, 57)">
    <div class="col-md-12 col-xs-12 d-flex justify-content-center">
        <div class="card">
            <div class="card-body px-lg-9 pt-3">
                <div class="col-12">
                    <div class="md-form">
                        {# {{ form_row(produitForm.id) }} #}
                    </div>
                    <div class="md-form">
                        {{ form_row(produitForm.nom) }}
                    </div>
                    <div class="md-form">
                        {{ form_row(produitForm.description) }}
                    </div>
                    <div class="md-form">
                        {{ form_row(produitForm.categorie) }}
                    </div>
                    <div class="md-form">
                        {{ form_row(produitForm.stock) }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="md-form">
                        {{ form_row(produitForm.prix) }}
                    </div>
                    <div class="md-form">
                        {{ form_row(produitForm.file) }}
                    </div>
                    <div class="md-form">
                        {{ form_row(produitForm.saisonnalite) }}
                    </div>
                    <div class="md-form">
                        {{ form_row(produitForm.uniteMesure) }}
                    </div>
                    <div class="md-form"id="btn">
                        {{ form_row(produitForm.submit, { 'label' : 'Ajouter' } ) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(produitForm) }}
{% endblock %}