{% extends 'base.html.twig' %}

{% block content %}

    <h1>Bienvenue sur la Boutique</h1>
    <p>Nombre de produits :
        {{ app.user.boutiqueId.produits | length }}</p>

    <h2>Les produits de la boutique</h2>

    {% if app.user.statut == 1 %}
        <div class="row p-3">
            <a href="{{ path('shop_add_product') }}" class="btn btn-success">
                <i class="fas fa-plus-circle"></i>
                Ajouter un produit</a>
        </div>
    {% else %}
        <a class="btn btn-success" href="{{ path('/buy/show_shops') }}">Retour à la liste des boutiques</a>
    {% endif %}


    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Stock</th>
                <th>Prix</th>
                <th>Saisonnalité</th>
                <th>Photo</th>
                <th>Unité de mesure</th>

                {% if app.user.statut == 1 %}
                    <th colspan="3">Actions</th>
                {% else %}
                    <th>Ajout Panier</th>
                {% endif %}


            </tr>
        </thead>


        <tbody>

            {% for p in app.user.boutiqueId.produits %}

                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.nom }}</td>
                    <td>{{ p.description }}</td>
                    <td>{{ p.categorie }}</td>
                    <td>
                        {% if p.stock == 0 %}
                            <strong class="text text-danger">{{ p.stock }}</strong>
                        {% elseif p.stock < 10 %}
                            <strong class="text text-warning">{{ p.stock }}</strong>
                        {% else %}
                            <strong class="text text-success">{{ p.stock }}</strong>
                        {% endif %}
                    </td>
                    <td>{{ p.prix | number_format(2, ',', ' ') }}€</td>
                    <td>{{ p.saisonnalite }}</td>
                    <td><img src="{{ asset('/photo/' ~ p.photo ) }}" height="60px"/></td>
                    <td>{{ p.uniteMesure }}</td>

                    {% if app.user.statut == 1 %}
                        <td>
                            <a target="_blank" href="{{ path('product', {id : p.id } ) }}">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('shop_update_product', {id : p.id } ) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('shop_delete_product', {id : p.id } ) }}" onclick="return confirm('Etes-vous certain de vouloir supprimer le produit')">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <a href="{{ path('cart' ) }}">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </td>

                        <td>
                            <a target="_blank" href="{{ path('product', {id : p.id } ) }}">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>

                    {% endif %}
                </tr>

            {% endfor %}

        </tbody>

    </table>

{% endblock %}
