{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/styleForm.css') }}">
{% endblock %}
{% block content %}

    <div class='banniere_form'>
        <h2 class="card-header info-color white-text text-center py-4">
            Création de votre boutique
        </h2>
    </div>

    {{ form_start(boutiqueForm) }}
    <div class="row" style="background-color: rgb(255, 153, 0)">
        <div class="col-md-12 col-xs-12 d-flex justify-content-center">
            <div class="card" id="btn">
                <div class="card-body px-lg-9 pt-3">
                    <div class="col-12">
                        <div class="md-form">
                            {{ form_row(boutiqueForm.siret) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(boutiqueForm.nomBoutique) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(boutiqueForm.description) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(boutiqueForm.livraison) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(boutiqueForm.paiement) }}
                        </div>
                        {{ form_row(boutiqueForm.adresse) }}
                    </div>

                    <div class="col-12">
                        <div class="md-form">
                            {{ form_row(boutiqueForm.ville) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(boutiqueForm.codePostal) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(boutiqueForm.departement) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(boutiqueForm.region) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(boutiqueForm.telephone) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(boutiqueForm.file) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(boutiqueForm.submit, { 'label' : 'Envoyer' } ) }}
                            <em>En appuyant sur "Envoyer" vous acceptez nos <a href="{{ path('cgu')}}">CGU et CGV</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(boutiqueForm) }}
{% endblock %}
