{% extends 'base.html.twig' %}

{% block content %}

{#{{ dump(app.session.get('panier')) }}#}



<h1>Détails du produit : {{ produit.nom }}</h1>
<ul>
    <img src="{{ asset('/photo/' ~ produit.photo ) }}"></img> 
    <li>Nom :  {{ produit.nom }}</li>
    <li>Categorie :  {{ produit.categorie }}</li>
    <li>Stock :  {{ produit.stock }}</li>     
    <li>Prix :  {{ produit.prix }}</li>
    <li>Saisonnalité :  {{ produit.saisonnalite}}</li> 
    <li>Unité de mesure :  {{ produit.uniteMesure }}</li>

</ul>


<form method="post" action="{{ path('add_cart') }}"> 
    <input type="hidden" name="id" value="{{ produit.id }}" />
    <div class="form-group">
        <select name="quantite" class="form-control">
            {% for i in 1..produit.stock %}
                <option>{{ i }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Ajouter" />
    </div>
</form>

<a class="btn btn-warning" href="{{ path('buy/show_shops') }}">Retour à la liste des boutiques</a>


{% endblock %}