<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}BioChezToi !
            {% endblock %}
        </title>

        <!-- Bootstrap4 CSS + Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> 
        
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('/css/stylebct.css') }}">


    </head>
    <body>

        {% block body %}
            <!-- Barre de navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
                    <a class="navbar-brand success" href="">BioChezToi</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('index') }}">Accueil <span class="sr-only"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('about_us') }}">A propos<span class="sr-only"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('buy/show_shops') }}">Boutiques<span class="sr-only"></span></a>
                            </li>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('contact') }}">Contact<span class="sr-only"></span></a>
                            </li>
                            </li>
                        </ul>
                        {# <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form> #}
                        {% if not app.user %}
                        {# Autre manière de checker s'il y a un user
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if not is_granted('ROLE_ADMIN') %}
                        #}
                            <a  class="btn btn-outline-success btn-success btn-sm" href="{{ path('login') }}">Connexion</a>
                            <a  class="btn btn-outline-success btn-success btn-sm" href="{{ path('register') }}">Inscription</a>
                        {% else %}
                            <a  class="btn btn-outline-success btn-success btn-sm" href="{{ path('profile', { id : app.user.id }) }}">Profil</a>


                            <a  class="btn btn-outline-success btn-success btn-sm" href="{{ path('logout') }}">Déconnexion</a>
                        {% endif %}
                            
                        <a  class="btn btn-outline-success btn-success btn-sm" href="{{ path('show_cart') }}">
                            <i class="fas fa-cart-plus"></i> {% if app.session.get('panier') | length > 0  %}({{ app.session.get('panier') | length }}){% endif %}</a>
                        </div>
                </nav>

            {% for message in app.getFlashes('success') %}  
            <div class="alert alert-success">{{ message }}</div>
            {% endfor %}



            {% block content %}
            {% endblock %}
            <hr class="rgba-white-light col-md-4 offset-4">


            
                <!-- FOOTER -->
                <footer>

                    <footer class="page-footer font-small indigo">
        
                        <div class="container-fluid">
                            <div class="footer_B">
        
                            <div class="row text-center d-flex justify-content-center pt-5 mb-2">
                                <div class="col-md-2 mb-3">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="{{ path('cgu') }}">CGU et CGV</a>
                                    </h6>
                                </div>

                                <div class="col-md-2 mb-3">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="{{ path('locavore') }}">Locavore ?</a>
                                    </h6>
                                </div>

                                <div class="col-md-2 mb-2">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="{{ path('about_us') }}">Qui sommes nous ?</a>
                                    </h6>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="{{ path('contact') }}">SAV/Nous contacter</a>
                                    </h6>
                                </div>
                            
                                <div class="col-md-2 mb-2">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="{{ path('career') }}">Recrutement</a>
                                    </h6>
                                </div>
        
                            </div>
                            
                            <hr class="rgba-white-light" style="margin: 0 15%;">

                            <hr class="clearfix d-md-none rgba-white-primary" style="margin: 10% 15% 5%;">

                        <div class="footer-copyright text-center py-3">© 2019 Copyright: TeamBeamm 
                        </div>
                        </div>
                    </div>
                    </div>
                    </footer>

            {% endblock %}
            {% block javascripts %}{% endblock %}
        </body>
    </html>
