<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>

        <!-- Bootstrap4 CSS + Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> 
        
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('/css/stylebct.css') }}">


    </head>
    <body>

        {% block body %}
            <!-- Bar de navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand success" href="#">BioChezToi</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">A propos<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Boutique<span class="sr-only">(current)</span></a>
                            </li>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
                            </li>
                            </li>
                        </ul>
                        {# <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form> #}
                        {% if not app.user %}
                        {# Autre manière de checker s'il y a un user
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if not is_granted('ROLE_ADMIN') %}
                        #}
                            <button type="button" class="btn btn-success btn-sm"><a href="{{ path('login') }}">Connexion</a></button>
                        {% else %}
                            <button type="button" class="btn btn-success btn-sm"><a href="{{ path('profile', { id : app.user.id }) }}">Profil</a></button>

                            <button type="button" class="btn btn-success btn-sm"><a href="{{ path('logout') }}">Déconnexion</a></button>
                        {% endif %}
                            <button type="button" class="btn btn-success btn-sm"><a href="{{ path('register') }}">Inscription</a></button>
                    </div>
                </nav>
            <!--/ Bar de navigation -->
            {% block content %}
            {% endblock %}
                <!-- FOOTER -->
                <footer>
           
                    <footer class="page-footer font-small indigo">
        
                        <div class="container-fluid">
                            <div class="footer_B">
        
                            <div class="row text-center d-flex justify-content-center pt-5 mb-2">
                                <div class="col-md-2 mb-3">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="#!">CGU</a>
                                    </h6>
                                </div>
                               
                                <div class="col-md-2 mb-3">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="#!">Copyright</a>
                                    </h6>
                                </div>
           
                                <div class="col-md-2 mb-2">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="#!">Qui sommes nous?</a>
                                    </h6>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="#!">SAV/Nous contacter</a>
                                    </h6>
                                </div>
                            
                                <div class="col-md-2 mb-2">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="#!">Recrutement</a>
                                    </h6>
                                </div>
        
                            </div>
                           
                            <hr class="rgba-white-light" style="margin: 0 15%;">

                            <hr class="clearfix d-md-none rgba-white-primary" style="margin: 10% 15% 5%;">
        
                        <div class="footer-copyright text-center py-3">© 2019 Copyright:
                            <a href="#"></a>
                        </div>
                        </div>
                    </div>
                    </div>
                    </footer>
           
            {% endblock %}
            {% block javascripts %}{% endblock %}
        </body>
    </html>
