{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/styleForm.css') }}">
{% endblock %}

{% block content %}

    {{ form_start(userForm) }}
    <div class='banniere_form'>
        <h2 class="card-header info-color white-text text-center py-4">
            Inscription
        </h2>
    </div>
    <div class="row" style="background-color: #58D68D">
        <div class="col-md-12 col-xs-12 d-flex justify-content-center">
            <div class='card'>
                <div class="card-body px-lg-9 pt-3">
                    <div class="col-12">
                        <div class="md-form">
                            {{ form_row(userForm.username) }}
                        </div>
                        <div
                            class="md-form">
                            {# {% if not is_granted('ROLE_USER') %} #}
                            {{ form_row(userForm.password) }}
                            {# {% endif %} #}
                        </div>
                        <div class="md-form">
                            {{ form_row(userForm.prenom) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(userForm.nom) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(userForm.email) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(userForm.sexe) }}
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="md-form">
                            {{ form_row(userForm.adresse) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(userForm.ville) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(userForm.codePostal) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(userForm.departement) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(userForm.region) }}
                        </div>
                        <div class="md-form">
                            {{ form_row(userForm.telephone) }}
                        </div>

                        <div class="row">
                            <div class="md-form">
                                {{ form_row(userForm.dateDeNaissance.day, {label : 'Jour'}) }}
                            </div>
                            <div class="md-form">
                                {{ form_row(userForm.dateDeNaissance.month, {label : 'Mois'}) }}
                            </div>
                            <div class="md-form">
                                {{ form_row(userForm.dateDeNaissance.year, {label : 'Année'}) }}
                            </div>
                            <div class="md-form">
                                {{ form_row(userForm.dateDeNaissance.year, {label : 'Année'}) }}
                            </div>
                        </div>
                        {{ form_row(userForm.statut) }}
                        {{ form_row(userForm.submit, { 'label' : 'Envoyer' } ) }}
                        <em>En appuyant sur "Envoyer" vous acceptez nos <a href="{{ path('cgu')}}">CGU et CGV</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(userForm) }}


{% endblock %}
