{% extends 'base.html.twig' %}

{% block content %}

    <div class='banniere_form'>
        <h2 class="card-header info-color white-text text-center py-4">
            Bonjour
            {{ app.user.username }}
            bienvenue sur votre profil
            {% if app.user.statut == 1 %}
                <p>Vendeur !</p>
            {% elseif app.user.statut == 0 %}
                <p>Acheteur !</p>
            {% else %}
                <p>Statut invalide !</p>
            {% endif %}
        </li>
    </ul>
    <a class="btn btn-success" href="{{ path('profile_update', {id : app.user.id}) }}">Modifier mon profil</a>
	
        </h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h4 class="card-title text-info">
                            {{ app.user.username }}
                        </h4>
                        <p class="card-text">
                            <strong>Prénom  :
                            </strong>
                            {{ app.user.prenom  }}</p>
                        <p class="card-text">
                            <strong>Nom  :
                            </strong>
                            {{ app.user.nom  }}</p>
                        <p class="card-text">
                            <strong>Email  :
                            </strong>
                            {{ app.user.email  }}</p>
                        <p class="card-text">
                            <strong>Adresse  :
                            </strong>
                            {{ app.user.adresse  }}</p>
                        <p class="card-text">
                            <strong>Ville  :
                            </strong>
                            {{ app.user.ville  }}</p>
                        <p class="card-text">
                            <strong>Code postal  :
                            </strong>
                            {{ app.user.codePostal  }}</p>
                        <p class="card-text">
                            <strong>Téléphone  :
                            </strong>
                            {{ app.user.telephone  }}</p>
                        <p class="card-text">
                            <strong>Date de naissance  :
                            </strong>
                            {{ app.user.dateDeNaissance | date('d/m/Y') }}</p>
                        <p class="card-text">
                            <strong>Genre  :
                            </strong>
                            {% if app.user.sexe == 'm' %}
                                <p>homme</p>
                            {% else %}
                                <p>femme</p>
                            {% endif %}
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-md-2 text-center">
                            <a  href="{{ path('dashboard') }}">
                            <button class="btn btn-outline-success"> Retour sur le Dashboard</button>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


{% endblock %}
